* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 1rem;
    position: relative;
    height: 100vh;
    font-weight: 400;
    background-color: lightgreen;
}

.right {
  float: right;
}
.red {
  color: red !important;
}
.red-focus:focus {
 border: 1px solid red !important;
}

 /*TOP*/

.top {
    height: 40vh;
    /*width: 200vh;*/
    background-image: url($tacks.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 25em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    margin-top: 4.7em;
}

.budgetTitle {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
}

.budgetValue {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 0.05em;
}

.budgetIncome,
.budgetExpenses {
    padding: 1em;
    text-transform: uppercase;
    border-radius: 1em;
    font-size: 1rem;
}

.budgetIncome {
    margin-bottom: 1em;
    background-color: forestgreen;
  }

.budgetExpenses {
    background-color: red;
}

.budgetIncomeText,
.budgetExpensesText {
    float: left;
    font-size: 1rem;
    color: #fff;
    margin-top: .2em;
}

.budgetIncomeValue,
.budgetExpensesValue {
    letter-spacing: .03em;
    float: left;
    margin-top: .2em;

}
 /*BOTTOM */

/*FORM*/

.add {
    padding: 1em;
    border-bottom: 1px solid #e7e7e7;
    background-color: green;
}

.addContainer {
    margin: 0 auto;
    text-align: center;
    background-color: green;
}

.addType {
    width: 2.5em;
    border: 1px solid #e7e7e7;
    height: 2.5em;
    font-size: 1rem;
    color: inherit;
    background-color: #fff;
    margin-right: 1em;
    font-weight: normal;
    transition: border 0.3s;
}

.addDescription,
.addValue {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    padding: 1em 1em;
    margin-right: 1em;
    border-radius: 5px;
    transition: border 0.3s;
}

.addDescription {
  width: 20em;
}
.addValue {
  width: 7em;
}

.addBtn {
    font-size: 2rem;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 0.1em;
}

.addBtn:active { transform: translateY(0.08em); }

.addType:focus,
.addDescription:focus,
.addValue:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.addBtn:focus { outline: none; }

/*LISTS*/

.container {
    width: 75em;
    margin: 1em auto;
  }

.income {
    /*float: left;*/
    width: 25em;
    margin-right: 1em;
    display: inline-block;

}

.expenses {
    width: 25em;
    display: inline-block;
}

h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.incomeTitle {
  color: forestgreen;
  text-align: center;
}
.expensesTitle {
  color: red;
  text-align: center;
}

.item {
    padding: 1em;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.itemDescription {
    float: left;
}

.itemValue {
    float: left;
    transition: transform 0.3s;
}

.income .itemValue {
    color: #28B9B5;
}

.expenses .itemValue{
    color: #FF5049;
}

.item:hover .itemValue { transform: translateX(-1em); }

.radioInline{
  display: inline-block;
}

.centerBox {
  text-align: center;
  height: 100px;
}
